.login-container {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://assets.sutori.com/user-uploads/image/06277f6e-9d0d-4454-bfd3-f39e0e2163c3/a7b0a7613abb508c34e27bca39c8f5e6.gif');
}

.login {
    padding: 2rem;
    background-color: rgb(226, 245, 119);
    border-radius: 1rem;
}

.login>h1 {
    text-align: center;
}

.login-page {
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(4, 250, 66);
    cursor: pointer;
}

.login-page>h1:nth-child(1) {
    border-radius: 1rem;
    padding: 0 2rem;

}

.login-page>h1:nth-child(2) {
    border-radius: 1rem;
    padding: 0 2rem;
}

.active-login-page {
    background-color: rgb(236, 16, 16);
    color: rgb(73, 255, 6);
}

.login-inputs {
    display: grid;
}

.login-inputs>input {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid rgb(248, 244, 112);
    margin: 1rem 0;
}

.login>p {
    color: rgb(33, 243, 5);
    font-weight: bolder;
    font-size: x-large;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button>button {
    width: 120%;
    padding: 1rem;
    margin: 1rem 0 0 0;
    background-color: rgb(22, 247, 41);
    color: rgb(248, 5, 5);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
